@import "../../node_modules/bootstrap/scss/bootstrap";
@import './_login';
@import './react-autosuggest';

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}


.content {
  padding-top: 40px;
}

.balance {
  color: rgba(255,255,255,.5);
  padding-right: 20px;
}
