.react-autosuggest {
  &__input {
    width: 100%;
  }

  &__suggestions-container {
    position: absolute;
    width: 730px;
    z-index: 1; 
  }

  &__suggestions-list{
    list-style: none;
    padding-left: 0;
  }

  &__suggestion {
    color: #373a3c;
    //background-color: white;
    &:first-child {

    }

    a {
      padding: 7px 12px;
      color: #373a3c;
      display:block;
      //background-color: #b5b5b5;
    }
    &--focused {
      color: #373a3c;
      //background-color: #f4f4f4;
      a {
        &:hover{
          color: #373a3c;
          //background-color: #e0e0e0
        }
      }

    }
  }

  .list-group-item{
    &:last-child {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

}
